server: 'example.com'
autodiscover_server: 'example.com'
username: 'MYWINDOMAIN\myusername'
password: 'topsecret'
account: 'john.doe@example.com'  # Don't use an account containing valuable data! We're polite, but things may go wrong.
verify_ssl: True
